* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, p {
  margin: 0;
  padding: 0;
}

ol, li, ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

/*Fin resets*/
/*Inicio Welcome*/
.sections {
  margin: 0px 16px 0 16px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 44px;
  width: 100%;
  padding: 10px 16px 10px 16px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.logo .logo-img {
  width: 24px;
  height: 24px;
}

.menu {
  text-transform: uppercase;
  height: 0;
  display: block;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: absolute;
  top: 44px;
  width: 100%;
  left: 0;
  z-index: 1;
}

label, #open, #close {
  color: #060A24;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 18px;
  position: relative;
  margin: -33px 16px 0px 0px;
  text-align: right;
  font-weight: 500;
}

ul {
  display: none;
}

li {
  text-align: left;
  width: 100%;
  font-size: 16px;
  font-weight: 300;
  padding-bottom: 24px;
}

input:checked ~ ul {
  display: block;
  background-color: #0000EC;
  height: 224px;
  padding: 16px;
  margin-top: 10px;
}

input {
  display: none;
}

#close {
  display: none;
}

input:checked ~ label#open {
  display: none;
}

input:checked ~ label#close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
}

.link {
  color: #FFFFFF;
  font-family: "IBM Plex Mono", monospace;
  line-height: 28px;
  font-size: 14px;
}

.section-title {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 36px;
  color: #060A24;
  letter-spacing: 0;
  line-height: 42px;
  font-weight: 300;
  padding-top: 39px;
}

.welcome-title {
  font-weight: 400;
  font-size: 36px;
}

.description {
  font-family: "IBM Plex Mono", monospace;
  color: #060A24;
  letter-spacing: 0;
  font-weight: 300;
  margin-bottom: 36px;
  margin-top: 16px;
  font-size: 14px;
  line-height: 22px;
}

.button {
  background-color: #00F3BB;
  height: 48px;
  width: 288px;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 16px;
  color: #060A24;
  letter-spacing: 0;
  line-height: 22px;
  border: none;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 24px;
}

.button:hover {
  background: -webkit-gradient(linear, right top, left top, from(#0000FE), to(#00F0B8));
  background: linear-gradient(to left, #0000FE, #00F0B8);
  color: white;
}

/*Fin Welcome*/
/*Inicio Episodios*/
.section-spotify {
  position: relative;
}

.section-spotify::after {
  margin-top: 23px;
  padding-bottom: 58px;
  display: block;
  position: absolute;
  background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
  content: " ";
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
  -webkit-transform: skew(0, -8deg);
          transform: skew(0, -8deg);
}

.section-spotify .podcasts {
  padding-bottom: 48px;
}

.section-spotify .section-spotify, .section-spotify h2 {
  padding: 64px 0px 0px 16px;
  color: #FFFFFF;
  margin-bottom: 21px;
}

.section-spotify .podcast {
  margin: 11px;
}

/*Fin Episodios*/
.history .history, .history p, .history .description {
  margin-bottom: 18px;
  margin-top: 0;
  padding: 0;
}

.history .history, .history h2 {
  padding: 27px 16px 8px 16px;
}

.history .description-complete {
  height: 254px;
  padding: 0px 16px 0px 16px;
}

.history .history-photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.history .history-photo img {
  margin: 0;
  height: 519px;
}

.interviews .interviews, .interviews h2 {
  padding: 54px 16px 14px 16px;
}

.interviews .photo, .interviews img {
  width: 100%;
  height: auto;
  line-height: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.topics .topics, .topics h2 {
  padding-top: 48px;
  margin: 0px 0px 37px 16px;
}

.topics .service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 16px;
  width: auto;
}

.topics .services {
  height: 807px;
}

.topics .topic-title, .topics h6 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 24px;
  color: #060A24;
  letter-spacing: 0;
  text-align: center;
  margin-bottom: 61px;
}

.topics .photo-topics {
  margin-bottom: 13px;
  width: 104px;
}

.novedades {
  height: 341px;
  position: relative;
  margin-top: 42px;
  text-align: center;
}

.novedades::after {
  display: block;
  position: absolute;
  background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
  content: " ";
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
  -webkit-clip-path: polygon(0 11.5%, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 11.5%, 100% 0, 100% 100%, 0 100%);
}

.novedades .novedades, .novedades h2 {
  text-align: center;
  color: #FFFFFF;
  padding: 64px 16px 36px 16px;
}

.footer {
  margin: 0px 46px;
}

.footer a {
  color: #060A24;
}

.footer .description {
  font-weight: 400;
  text-align: center;
  padding-top: 24px;
  margin: 0;
}

.footer .socialmedia {
  padding: 16px 0px 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer .socialmedia i {
  width: 16px;
  height: 28px;
}

@media (min-width: 321px) {
  .interviews .interviews, .interviews h2 {
    padding: 23px 16px 14px 16px;
  }
  .history .description-complete {
    height: auto;
  }
  .section-spotify .section-spotify, .section-spotify h2 {
    padding: 114px 0px 0px 16px;
  }
}

@media (min-width: 768px) {
  .gallery {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .gallery .photo {
    width: 33.3%;
    height: initial;
  }
  .topics .services {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (min-width: 1400px) {
  figure {
    margin: 0;
  }
  ol, ul {
    margin: 0;
    padding: 7px 0px 10px 761px;
  }
  .logo {
    padding-left: 90px;
  }
  .logo .logo-img {
    width: 36px;
    height: 36px;
  }
  .header, .logo {
    background-color: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 80px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
  .header {
    padding: 10px 100px 10px 10px;
  }
  .menu {
    padding: 0 100px 0 100px;
  }
  .menu .header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: inherit;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .menu-list {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 0;
  }
  label {
    display: none;
  }
  label, #open, #close {
    display: none;
    visibility: hidden;
  }
  .link {
    height: inherit;
    color: #060A24;
    font-weight: 400;
  }
  .link:hover {
    color: #00F3BB;
    text-decoration: line-through;
  }
  .link:active {
    color: #060A24;
    opacity: 56%;
  }
  .header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header a {
    height: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 16px;
  }
  .header li {
    margin-right: 48px;
    height: inherit;
  }
  .button {
    margin: 56px 0px 5px 0px;
    width: 226px;
    height: 56px;
    text-align: center;
    line-height: 24px;
    background-color: #00F3BB;
    font-size: 18px;
  }
  .hero {
    padding-left: 200px;
    margin-top: 120px;
  }
  .section-title {
    font-size: 64px;
    letter-spacing: 0;
    line-height: 42px;
    font-weight: 400;
    padding-top: 39px;
    margin-bottom: auto;
  }
  .section-title br {
    display: none;
  }
  .section-title .welcome-title {
    height: 84px;
    font-weight: 400;
    font-size: 64px;
  }
  .description {
    width: 628px;
    height: 48px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 0;
  }
  .section-spotify {
    width: 100%;
  }
  .section-spotify::after {
    margin-top: 78px;
    -webkit-transform: skew(0, -7deg);
            transform: skew(0, -7deg);
  }
  .section-spotify .episodes {
    padding: 186px 0px 28px 0px;
  }
  .section-spotify .podcasts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0px 100px;
    padding-bottom: 0;
  }
  .section-spotify .podcasts .podcast {
    width: 584px;
    margin: 36px 0px;
  }
  .section-spotify .section-spotify, .section-spotify h2 {
    padding: 0px 0px 0px 200px;
    color: #FFFFFF;
    font-size: 48px;
    font-weight: 300;
    margin-bottom: -10px;
    height: 48px;
  }
  .history {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .history .history, .history p, .history .description {
    margin-bottom: 18px;
    margin-top: 0;
    padding: 0;
  }
  .history .history-information {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 189px 256px 24px 62.4px;
    height: 290px;
  }
  .history .history, .history h2 {
    padding: 0;
    font-size: 48px;
    font-weight: 300;
    width: 399px;
    height: 48px;
    margin-bottom: 24px;
  }
  .history .description-complete {
    width: 464px;
    padding: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 254px;
  }
  .history p .description-complete {
    width: 100%;
    margin-bottom: 10px;
  }
  .history .history-photo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 200px;
  }
  .history .history-photo img {
    margin: 0;
    height: 660px;
    width: 457.6px;
  }
  .interviews .interviews, .interviews h2 {
    font-size: 48px;
    font-weight: 300;
    padding: 64px 0px 36px 200px;
  }
  .topics {
    height: 328px;
  }
  .topics .topics, .topics h2 {
    padding-top: 0px;
    margin: 64px 0px 69px 200px;
    font-weight: 300;
    font-size: 48px;
  }
  .topics .services {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0px 200px;
    height: 210px;
  }
  .topics .service {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 178px;
    height: 130px;
  }
  .topics .topic-title, .topics h6 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 24px;
    color: #060A24;
    letter-spacing: 0;
    text-align: center;
    margin: 29px 0px 0px;
    width: 220px;
  }
  .topics .photo-topics {
    margin: 0px 156px;
    width: 104px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .novedades {
    height: 518px;
    position: relative;
    margin-top: 34px;
  }
  .novedades::after {
    display: block;
    position: absolute;
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    content: " ";
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    left: 0;
    -webkit-clip-path: polygon(0% 27.5%, 100% 0%, 100% 100%, 0 100%);
            clip-path: polygon(0% 27.5%, 100% 0%, 100% 100%, 0 100%);
  }
  .novedades .section-title, h2 .section-title {
    padding: 213px 374px 36px;
    font-size: 48px;
    font-weight: 300;
  }
  .novedades .button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0px 547px 151px;
    width: 345px;
  }
  .footer {
    height: 95px;
    padding: 36px 0px 31px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 0;
  }
  .footer .description {
    padding: 0px;
    text-align: start;
  }
  .footer .socialmedia {
    width: 232px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0;
  }
  .footer .socialmedia i {
    width: 18px;
  }
}
/*# sourceMappingURL=styles.css.map */